@using DotNetNuke.Collections
@using DotNetNuke.Web.Mvc.Helpers
@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DotNetNuke.Collections.IPagedList<Dnn.ContactList.Api.Contact>>

<div>
    
    @foreach (var contact in Model)
    {
        Html.RenderPartial("_ContactPartial", contact, null);
    }
    <div style="clear: both; margin-right: 130px;" class="right">
        @if (Model.HasPreviousPage)
        {
            <a href="@Url.Action("Index", "Contact", new {pageIndex = Model.PageIndex - 1})"><i class="fa fa-arrow-left"></i></a>
        }
        @Dnn.LocalizeString("PageOf").Replace("[PageIndex]", (@Model.PageIndex + 1).ToString()).Replace("[PageCount]", @Model.PageCount.ToString())
        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("Index", "Contact", new {pageIndex = Model.PageIndex + 1})"><i class="fa fa-arrow-right"></i></a>
        }
    </div>
    @if (@Dnn.ModuleContext.IsEditable && Convert.ToBoolean(Dnn.ModuleContext.Configuration.ModuleSettings.GetValueOrDefault("AllowContactCreation", false)))
    {
        <div class="buttons">
            <a class="dnnPrimaryAction" href="@Url.Action("Edit", new {ctl = "Edit"})">@Dnn.LocalizeString("AddContact")</a>
        </div>
    }
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            console.log('I am called');
        });
    </script>
}
