@using DotNetNuke.Web.Mvc.Helpers
@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DotNetNuke.Collections.IPagedList<Dnn.ContactList.Api.Contact>>

<div>
    
    @foreach (var contact in Model)
    {
        Html.RenderPartial("_ContactPartial", contact, null);
    }
    <div style="clear: both; margin-right: 130px;" class="right">
        @if (Model.HasPreviousPage)
        {
            <a href="@Url.Action("Index", "Contact", new {pageIndex = Model.PageIndex - 1, pageSize = Model.PageSize})"><i class="fa fa-arrow-left"></i></a>
        }
        @Dnn.LocalizeString("PageOf").Replace("[PageIndex]", (@Model.PageIndex + 1).ToString()).Replace("[PageCount]", @Model.PageCount.ToString())
        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("Index", "Contact", new {pageIndex = Model.PageIndex + 1, pageSize = Model.PageSize})"><i class="fa fa-arrow-right"></i></a>
        }
    </div>
</div>